---
import Layout from '../layouts/Layout.astro';
import ApiData from '../components/ApiData.astro'; // Asegúrate de importar correctamente el componente ApiData
---

<Layout title="Parking Manager">
  <main>
    <h1 class="text-center text-7xl font-extrabold">Parking <span class="block text-violet-400">Manager</span></h1>
    
    <!-- Invocamos el componente ApiData que mostrará la información de los aparcamientos -->
    <ApiData client:load />
  </main>
</Layout>
