---
import Layout from '../layouts/Layout.astro';
import ParkingManager from '../components/ParkingManager.jsx'

const apiUrl = import.meta.env.VITE_API_URL;
---

<Layout title="ParkingManager">
  <main>
    <ParkingManager client:load apiUrl={apiUrl} />
    <!-- Client Process Data 
    <ParkingAviability client:load apiUrl={apiUrl}/>
    <Predictions client:load apiUrl={apiUrl}/>-->
  </main>
</Layout>
