---
import Layout from '../layouts/Layout.astro';
import ParkingManager from '../components/ParkingManager.jsx'

const apiUrl = import.meta.env.VITE_API_URL;
---

<Layout title="ParkingManager">
  <main>
    <!-- REACT COMPONENT -->
    <ParkingManager client:only="react" apiUrl={apiUrl} />
  </main>
</Layout>
