---
import Layout from '../layouts/Layout.astro';
import ApiData from '../components/ParkingAviability.jsx';

const apiUrl = import.meta.env.VITE_API_URL;

---

<Layout title="Parking Manager">
  <main>
    <!-- Client Process Data -->
    <ApiData client:load apiUrl={apiUrl}/>
  </main>
</Layout>
