 ---
 ---
 
 <footer class="footer">
    <p>&copy; 2024 Parking Manager. <span class="ml-2 ">Authors:</span><span class="font-bold text-white ml-2">Abdullah, Eric, Raúl</span></p>
</footer>

<style>
    footer {
        @apply py-6 bg-gray-800 text-center text-gray-500;
    }
</style>